h1.ex {
    padding: 1rem;
    color: #fff;
    background-image: linear-gradient(45deg, #7794ff, #44107A, #FF1361, #FFF800);
    animation: .8s shake infinite alternate;
}
img{
    width: 67%;
}

#old {
    width: 89%;
    padding-block-end: 2rm;
}

main {
    margin: 2rem auto;
    padding: 1rem;
    width: 60%;
}

@keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }